.content {
  height: 40vh;
  width: 100%;
  background-image: url('https://user-images.githubusercontent.com/73438276/180467452-53be7568-65dd-4831-bcf1-a70fabf405e4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: 5s;
  animation-name: animate;
  animation-direction: alternate;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  animation-play-state: running;
  animation-timing-function: ease-in-out; */
}

/* @keyframes animate {
  0% {
    background-image: url('https://user-images.githubusercontent.com/73438276/180467440-d1cf058a-87d1-4a8e-8cf8-4c4de8be53d8.jpg');
  }

  20% {
    background-image: url('https://user-images.githubusercontent.com/73438276/180467446-82473180-905d-4b3f-9538-2fa9f5c201d2.jpg');
  }

  40% {
    background-image: url('https://user-images.githubusercontent.com/73438276/180467452-53be7568-65dd-4831-bcf1-a70fabf405e4.jpg');
  }

  60% {
    background-image: url('https: //user-images.githubusercontent.com/73438276/180467415-525cdf39-39bd-4a04-90ca-1e4277565d90.jpg');
  }
} */

.text {
  color: white;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  height: 40vh;
}

.para {
  display: none;
}

.s-link {
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  input,
  select {
    width: 91%;
  }

  .c-btn {
    width: 70%;
    margin: auto;

    /* padding: 7px; */
  }
}

@media only screen and (min-width: 768px) {
  .text {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    height: 80vh;
    padding: 8rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .content {
    height: 80vh;
  }

  .para {
    display: block;
  }
}
