.content {
  height: 80vh;
  width: 100%;
  background-image: url(../assets/images/homeImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards ;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  0% {
    background-image: url(../assets/images/homeImage2.jpg);
  }20% {
    background-image: url(../assets/images/homeImage3.jpg);
  }40% {
    background-image: url(../assets/images/homeImage4.jpg);
  }60% {
    background-image: url(../assets/images/homeImage5.jpg);
  }
}

.text {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  /* margin: auto; */
  height: 80vh;
  padding: 8rem;
  width: 50%;
  background-color: rgba(0, 0, 0, .6);
  /* opacity: 0.2; */
}