.content {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/images/homeImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  0% {
    background-image: url(../assets/images/homeImage2.jpg);
  }

  20% {
    background-image: url(../assets/images/homeImage3.jpg);
  }

  40% {
    background-image: url(../assets/images/homeImage4.jpg);
  }

  60% {
    background-image: url(../assets/images/homeImage5.jpg);
  }
}

.text {
  color: white;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  height: 40vh;
}

.para {
  display: none;
}

.s-link {
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  input,
  select {
    width: 91%;
  }

  .c-btn {
    width: 70%;
    margin: auto;

    /* padding: 7px; */
  }
}

@media only screen and (min-width: 768px) {
  .text {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    height: 80vh;
    padding: 8rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .content {
    height: 80vh;
  }

  .para {
    display: block;
  }
}
