.App {
  font-family: 'Roboto Mono', monospace;
}

#phone {
  color: #F7B736;
  font-size: 30px;
}

.nav-links {
  font-weight: bold;
}

.nav-links:hover {
  color: #F7B736;
}

.active {
  color: #F7B736;
}
